* {
  box-sizing: border-box;
}

a,
a:visited {
  color: #5d5d5d;
  text-decoration: none;

  &:hover {
    color: #7e7e7e;
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'David Libre', Arial, sans-serif;
}

p, span, ul, ol {
  font-family: 'Inconsolata', sans-serif;
}

img {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  * {
    color: #ebebeb;
  }

  body {
    background-color: #121212;
  }
  
  a,
  a:visited {
    color: #9c9c9c;

    &:hover {
      color: #7e7e7e;
    }
  }
}
