@import "tailwindcss";

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-900);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-david-libre), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-inconsolata), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-50);
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inconsolata);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-david-libre);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--text-4xl);
}
h2 {
  font-size: var(--text-3xl);
}
h3 {
  font-size: var(--text-2xl);
}
h4 {
  font-size: var(--text-xl);
}
h5 {
  font-size: var(--text-lg);
}

p,
span,
ul,
ol {
  font-family: var(--font-inconsolata);
  font-weight: var(--font-weight-medium);
}

/* TODO: fix list alignments */
ul, ol {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  list-style-position: outside;
  padding-left: 1.5em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul li::marker,
ol li::marker {
  width: 1.2em;
  text-align: left;
}

p {
  margin-block-end: 1em;
  text-align: justify;
  line-height: var(--text-sm--line-height);
  font-weight: var(--font-weight-medium);
}

blockquote {
  font-family: var(--font-david-libre);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-xl);
  font-style: italic;
  border-left: 4px solid var(--color-neutral-400);
  padding-left: 1em;
  margin-left: 1em;
}

hr {
  border-color: var(--color-neutral-400);
  border-width: 1px;
  border-style: solid;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

a,
a:visited {
  color: var(--color-neutral-600);
  /* color: var(--color-neutral-900); */
  text-decoration: underline;
}

a:hover {
  color: var(--color-neutral-400);
}

@media (prefers-color-scheme: dark) {
  a,
  a:visited {
    color: var(--color-neutral-400);
  }

  a:hover {
    color: var(--color-neutral-600);
  }
}
